* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif
}
#nav-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 8px 16px 0;
}
#view-root > .view {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 100%;
}
#view-root > .view > .view-interior {
  min-width: 100%;
  min-height: 100%;
  padding: 0 16px;
}
.overflow-scroll, .synthetic-scroll {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.overflow-scroll > .overflow-scroll-inner {
  /* some level of transform keeps elements from blinking out of visibility on iOS */
  -webkit-transform: rotateY(0);
}
.view-tree, .model-inspector {
  position: absolute;
  top: 0;
  width: 50%;
  padding: 0 16px;
  overflow: scroll;
  bottom: 0;
  float: left;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
h1 {
  margin-left: 10px;
}
.view-tree {
  left: 0;
  padding-right: 8px;
}
.model-inspector {
  right: 0;
  padding-left: 8px;
}
.view-item {
  padding: 0px;
  background-color: #f5f5f5; 
}
.view-tree-container .selected {
  color: #428bca;
}
.view-item.selected div {
  color: #333333;
} 
.view-item.selected > div {
  color: #428bca;
}
.view-item div {
  margin-left: 10px;
  padding: 5px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
.no-lavaca {
  text-align: center;
  margin-top: 16px;
  font-size: 12px
}
.wrapper {
  padding: 0 16px;
}
form.options {
  padding: 0;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
[data-distance="0"] {
  margin-bottom: 15px;
  padding: 5px 0px 5px;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
:not([data-distance="0"]) > div {
  font-weight: normal;
}
[data-distance="1"] {
  background-color: #e5e5e5;
}
[data-distance="1"]:not(:only-child) {
  border: 1px solid #d7d7d7;
  border-right: 0;
}
[data-distance="1"]:not(:last-child) {
  border-bottom: 0;
}
[data-distance="2"] {
  background-color: #d7d7d7;
}
[data-distance="2"]:not(:only-child) {
  border: 1px solid #cacaca;
  border-right: 0;
}
[data-distance="2"]:not(:last-child) {
  border-bottom: 0;
}
[data-distance="3"] {
  background-color: #cacaca;
  border: 1px solid #bdbdbd;
  border-right: 0;
}
[data-distance="3"]:not(:only-child) {
  border: 1px solid #bdbdbd;
  border-right: 0;
}
[data-distance="3"]:not(:last-child) {
  border-bottom: 0;
}
[data-distance="4"] {
  background-color: #bdbdbd;
  border: 1px solid #acacac;
  border-right: 0;
}
[data-distance="4"]:not(:only-child) {
  border: 1px solid #acacac;
  border-right: 0;
}
[data-distance="4"]:not(:last-child) {
  border-bottom: 0;
}
[data-distance="5"] {
  background-color: #acacac;
}
[data-distance="5"]:not(:only-child) {
  border: 1px solid #9b9b9b;
  border-right: 0;
}
[data-distance="5"]:not(:last-child) {
  border-bottom: 0;
}